*~
Makefile.in
/autom4te.cache
/aclocal.m4
/missing
/depcomp
/configure
/config.h.in
/install-sh
Makefile
/src/.deps
/UTILS/LPRng.pm
/UTILS/accounting.pl
/UTILS/decode_args_with_perl
/UTILS/decode_args_with_sh
/UTILS/fixid
/UTILS/fixupdate
/UTILS/lpq_in_perl
/UTILS/lpr_in_perl
/UTILS/lprm_in_perl
/UTILS/make_printcap_use
/UTILS/makeinc
/UTILS/read_conf
/UTILS/remote_active
/UTILS/test_read
/UTILS/update_z.pl
/conf/lpd.perms
/config.h
/config.log
/config.status
/src/pclbanner
/src/psbanner
/stamp-h1
/src/lpd.conf
/man/*.1
/man/*.5
/man/*.8
/src/*.o
/src/*.so
/src/checkpc
/src/lpbanner
/src/lpc
/src/lpd
/src/lpf
/src/lpq
/src/lpr
/src/lprm
/src/lprng_certs
/src/lprng_index_certs
/src/lpstat
/src/monitor
/po/*.gmo
/po/remove-potcdate.sed
/po/stamp-po
